
<div id="gtco-header" data-section="home"
    class="gtco-cover header-fixed"
    role="banner"
    style="background-image:url(../assets/images/bckgrnd_1.jpg);">

    <div class="overlay"></div>

<!-- banner -->
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-12 col-md-offset-0 text-center">
          <div class="display-t">
            <div class="display-tc">
              <h1 class="animate-box" data-animate-effect="fadeIn">OdWeb Software factory</h1>
              <h2 class="animate-box" data-animate-effect="fadeIn">
                Somos una empresa que desarrolla aplicaciones a medida orientadas al cliente. Nos comprometemos en brindar un
                servicio de calidad para hacer que el <em>proceso de desarrollo de software</em> sea lo más claro y eficiente posible.
                <!-- <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a> -->
              </h2>
              <p class="animate-box main-nav" data-animate-effect="fadeIn">
                <a href="#" data-nav-section="signup" class="btn btn-primary btn-lg">Sign Up for Free</a>
              </p>
              <!-- <p class="gtco-video-link animate-box" data-animate-effect="fadeIn"><a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-controller-play"></i> Watch the Video</a></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="servicios" class="border-bottom" data-section="servicios">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2>Nuestros servicios</h2>
        <p>Desarrollos de software pensados para ser robustos, rápidos, fiables y fáciles de usar.
          Utilizamos la tecnología más actual del mercado para lograr más eficiencia y
          escalabilidad en el negocio de nuestros clientes.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="feature-center">
          <span class="icon">
            <i class="ti-vector"></i>
          </span>
          <h3>Desarrollos a medida</h3>
          <p>Pensamos aplicaciones para que su organización logre optimizar sus productos o
            servicios actuales, creeando soluciones innovadoras.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="feature-center">
          <span class="icon">
            <i class="ti-ruler-pencil"></i>
          </span>
          <h3>Diseño web</h3>
          <p>
            Diseñamos su web totalmente integrada con redes sociales, aprovechando al 100% las
            capacidades de los navegadores modernos y visualizable en todos los dispositivos móviles.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="feature-center">
          <span class="icon">
            <i class="ti-settings"></i>
          </span>
          <h3>Integración de tecnologías</h3>
          <p>
            Seleccionamos la mejor tecnología del mercado y la implementamos a la medida de cada requerimiento.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="feature-center">
          <span class="icon">
            <i class="ti-tablet"></i>
          </span>
          <h3>Soporte técnico</h3>
          <p>
            En forma presencial y remota, gestionamos en forma ágil el mantenimiento de hardware y software.
          </p>
        </div>
      </div>

    </div>
    <!-- <div class="row">
    <div class="col-md-4 col-sm-6">
    <div class="feature-center">
    <span class="icon">
    <i class="ti-ticket"></i>
  </span>
  <h3>Use Our Coupons</h3>
  <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. </p>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="feature-center">
<span class="icon">
<i class="ti-shield"></i>
</span>
<h3>High Level Security</h3>
<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. </p>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="feature-center">
<span class="icon">
<i class="ti-gift"></i>
</span>
<h3>100% Free Download</h3>
<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. </p>
</div>
</div>
</div> -->
</div>

<div class="gtco-section border-bottom" id="nosotros" data-section="nosotros">
  <div class="gtco-container">
    <div class="row">

        <!-- <div class="gtco-heading"> -->
          <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>Acerca nuestro</h2>
            <div class="gtco-widget">
              <p>
                Somos un conjunto de profesionales con experiencia en transformar procesos de
                empresas por medio de tecnología innovadora, especialmente para pequeñas y medianas empresas en
                proceso de crecimiento.
              </p>
            </div>
        </div>

        <div class="row">

          <div class="col-md-12">
            <div class="feature-left">
              <span class="icon">
                <i class="icon-check"></i>
              </span>
              <div class="feature-copy">
                <h3>Web Development</h3>
                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="feature-left">
              <span class="icon">
                <i class="icon-check"></i>
              </span>
              <div class="feature-copy">
                <h3>Web Design</h3>
                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="feature-left">
              <span class="icon">
                <i class="icon-check"></i>
              </span>
              <div class="feature-copy">
                <h3>Customer Support</h3>
                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="feature-left">
              <span class="icon">
                <i class="icon-check"></i>
              </span>
              <div class="feature-copy">
                <h3>Web Design</h3>
                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
              </div>
            </div>
          </div>
        </div>


    </div>
  </div>
</div>

<!-- <div class="gtco-section border-bottom" id="how-it-works" data-section="howitworks">
<div class="gtco-container">
<div class="row">
<div class="col-md-6">

<div class="gtco-heading">
<h2 class="gtco-left">Desarrollos móbiles</h2>
<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
</div>

<div class="row">

<div class="col-md-12">
<div class="feature-left">
<span class="icon">
<i class="icon-check"></i>
</span>
<div class="feature-copy">
<h3>Web Development</h3>
<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
</div>
</div>
</div>
<div class="col-md-12">
<div class="feature-left">
<span class="icon">
<i class="icon-check"></i>
</span>
<div class="feature-copy">
<h3>Web Design</h3>
<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
</div>
</div>
</div>
<div class="col-md-12">
<div class="feature-left">
<span class="icon">
<i class="icon-check"></i>
</span>
<div class="feature-copy">
<h3>Customer Support</h3>
<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
</div>
</div>
</div>
<div class="col-md-12">
<div class="feature-left">
<span class="icon">
<i class="icon-check"></i>
</span>
<div class="feature-copy">
<h3>Web Design</h3>
<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<p><a href="#" class="btn btn-primary btn-lg btn-block"><i class="icon-apple"></i> Buy This App on App Store</a></p>
</div>
</div>
</div>
<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
<img src="/assets/images/iphone.png" alt="Free HTML5 Bootstrap Template" class="img-responsive">
</div>
</div>
</div>
</div> -->

<div class="gtco-section" id="gtco-faq" data-section="faq">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2>Frequently Ask Questions</h2>
        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="gtco-accordion">
          <div class="gtco-accordion-heading">
            <div class="icon"><i class="icon-cross"></i></div>
            <h3>What is Usable?</h3>
          </div>
          <div class="gtco-accordion-content">
            <div class="inner">
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
          </div>
        </div>
        <div class="gtco-accordion">
          <div class="gtco-accordion-heading">
            <div class="icon"><i class="icon-cross"></i></div>
            <h3>I have technical problem, who do I email?</h3>
          </div>
          <div class="gtco-accordion-content">
            <div class="inner">
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
          </div>
        </div>
        <div class="gtco-accordion">
          <div class="gtco-accordion-heading">
            <div class="icon"><i class="icon-cross"></i></div>
            <h3>How do I use Usable features?</h3>
          </div>
          <div class="gtco-accordion-content">
            <div class="inner">
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="gtco-accordion">
          <div class="gtco-accordion-heading">
            <div class="icon"><i class="icon-cross"></i></div>
            <h3>What language are available?</h3>
          </div>
          <div class="gtco-accordion-content">
            <div class="inner">
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
          </div>
        </div>
        <div class="gtco-accordion">
          <div class="gtco-accordion-heading">
            <div class="icon"><i class="icon-cross"></i></div>
            <h3>Can I have a username that is already taken?</h3>
          </div>
          <div class="gtco-accordion-content">
            <div class="inner">
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
          </div>
        </div>
        <div class="gtco-accordion">
          <div class="gtco-accordion-heading">
            <div class="icon"><i class="icon-cross"></i></div>
            <h3>Is Usable free?</h3>
          </div>
          <div class="gtco-accordion-content">
            <div class="inner">
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div id="gtco-counter" class="gtco-section">
<div class="gtco-container">

<div class="row">
<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
<h2>Fun Facts</h2>
<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
</div>
</div>

<div class="row">

<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
<div class="feature-center">
<span class="icon">
<i class="ti-download"></i>
</span>
<span class="counter js-counter" data-from="0" data-to="2122070" data-speed="5000" data-refresh-interval="50">1</span>
<span class="counter-label">Downloads</span>

</div>
</div>
<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
<div class="feature-center">
<span class="icon">
<i class="ti-face-smile"></i>
</span>
<span class="counter js-counter" data-from="0" data-to="402002" data-speed="5000" data-refresh-interval="50">1</span>
<span class="counter-label">Happy Clients</span>
</div>
</div>
<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
<div class="feature-center">
<span class="icon">
<i class="ti-briefcase"></i>
</span>
<span class="counter js-counter" data-from="0" data-to="402" data-speed="5000" data-refresh-interval="50">1</span>
<span class="counter-label">Projects Done</span>
</div>
</div>
<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
<div class="feature-center">
<span class="icon">
<i class="ti-time"></i>
</span>
<span class="counter js-counter" data-from="0" data-to="212023" data-speed="5000" data-refresh-interval="50">1</span>
<span class="counter-label">Hours Spent</span>

</div>
</div>

</div>
</div>
</div> -->
<!-- formulario de registración -->

<div id="gtco-signup" data-section="signup">
  <br>
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2>Sign Up</h2>
        <p>Dignissimos asperiores vitae velit veniam totam.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Please sign up for open soft stack <small>It's free!</small></h3>
          </div>
          <div class="panel-body">
            <form role="form">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
              </div>

              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                  </div>
                </div>
              </div>

              <input type="submit" value="Register" class="btn btn-info btn-block ">

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- gtcp-container -->
</div>

<!-- <div id="gtco-products" data-section="products">
<div class="gtco-container">
<div class="row">
<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
<h2>Products</h2>
<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
</div>
</div>
<div class="row">
<div class="owl-carousel owl-carousel-carousel owl-theme">
<div class="item">
<img src="assets/images/img_1.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
</div>
<div class="item">
<img src="assets/images/img_2.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
</div>
<div class="item">
<img src="assets/images/img_3.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
</div>
<div class="item">
<img src="assets/images/img_4.jpg" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
</div>
</div>
</div>
</div>
</div> -->

<div id="gtco-contact" data-section="contacto" class="gtco-cover gtco-cover-xs" style="background-image:url(../assets/images/img_bg_2.jpg);">
  <div class="overlay"></div>
  <div class="gtco-container">
    <div class="row text-center">
      <div class="display-t">
        <div class="display-tc">
          <div class="col-md-12">
            <h3>Para mas información comunicarse con nosotros a: <a href="#">info@opendevweb.com.ar</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="gtco-subscribe" data-section="subscribe">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2>Subscribe</h2>
        <p>Be the first to know about the new templates.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline">
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="email" class="form-control" id="emailsubscribe" placeholder="Your Email">
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <label for="name" class="sr-only">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Your Name">
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <button type="submit" class="btn btn-danger btn-block">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
