
<nav class="gtco-nav" role="navigation">
  <div class="gtco-container">


    <div class="row">
      <div class="col-sm-2 col-xs-12">
        <div id="gtco-logo">
          <a href="/home">
            <img src="../assets/images/oulogo.png" class="img-responsive logo" alt="...">
          </a>
        </div>
      </div>

      <div class="col-xs-10 text-right menu-1 main-nav">

        <ul *ngIf="ruta === '/home'">
          <li class="active"><a href="#" data-nav-section="home">Inicio</a></li>
          <li><a href="#" data-nav-section="service">Servicios</a></li>
          <!-- <li><a href="#" data-nav-section="how-it-works">Nosotros</a></li> -->
          <li><a href="#" data-nav-section="faq">FAQ</a></li>
            <!-- <li><a href="#" data-nav-section="products">Productos</a></li> -->
          <!-- <li><a href="#" data-nav-section="signup" >SignUp</a></li> -->
          <li><a href="#" data-nav-section="contacto">Contacto</a></li>
          <!-- <li><a href="#" routerLink="/registracion" >SignUpDude</a></li>           -->
          <li>
            <!-- <a href="http://gettemplates.co" class="external" title="You will be navigated to the external pages">Login</a> -->
            <a class="external" [routerLink]="['login']" title="">Login</a>
          </li>
          <li class="btn-cta">
            <!-- <a href="#" data-nav-section="signup" class="external" title=""><span>Sign up for free</span></a></li> -->
            <a href="#" data-nav-section="signup" title=""><span>Sign up for free</span></a></li>
          </ul>

          <ul *ngIf="ruta !== '/home'">
          </ul>
        </div>
        </div>
      </div>
    </nav>
