
<nav class="gtco-nav" role="navigation">
  <div class="gtco-container">


    <div class="row">
      <div class="col-sm-2 col-xs-12">
        <div id="gtco-logo">
          <a href="/home">
            <!-- <img src="../assets/images/oulogo.png" class="img-responsive logo" alt="..."> -->              
          </a>
        </div>
      </div>

      <div class="col-xs-10 text-right menu-1 main-nav">

        <ul *ngIf="ruta === '/home'">
          <li class="active"><a href="#" data-nav-section="home">Home</a></li>
          <li><a href="#" data-nav-section="features">Features</a></li>
          <li><a href="#" data-nav-section="how-it-works">How It Works</a></li>
          <li><a href="#" data-nav-section="faq">FAQ</a></li>
          <li><a href="#" data-nav-section="products">Products</a></li>
          <li><a href="#" data-nav-section="contact">Contact</a></li>
          <!-- <li><a href="#" routerLink="/registracion" >SignUpDude</a></li>           -->
          <li><a href="#" data-nav-section="signup" >SignUp</a></li>
          <li><a href="http://gettemplates.co" class="external" title="You will be navigated to the external pages">Login</a></li>
          <li class="btn-cta">
            <a routerLink="/registracion" class="external" title="You will be navigated to the external pages"><span>Sign up for free</span></a></li>
          </ul>

          <ul *ngIf="ruta !== '/home'">
            <li class="active"><a routerLink="/home/#contact" >Inicio</a></li>
            <li><a href="#" data-nav-section="features">Features</a></li>
            <li><a href="#" data-nav-section="how-it-works">How It Works</a></li>
            <li><a href="#" data-nav-section="faq">FAQ</a></li>
            <li><a href="#" data-nav-section="products">Products</a></li>
            <li><a href="#" data-nav-section="contact">Contact</a></li>
            <li><a href="#" routerLink="/registracion" >SignUp</a></li>
            <li><a href="http://gettemplates.co" class="external" title="You will be navigated to the external pages">Login</a></li>
            <li class="btn-cta">
              <a routerLink="/registracion" class="external" title="You will be navigated to the external pages"><span>Sign up for free</span></a></li>
            </ul>

          </div>
        </div>

      </div>
    </nav>
